{% extends "base.html" %}
{% block content %}
<div class="container px-5 py-3 my-4">
    <div class="row justify-content-center">
        <div class='col'>
            <h1 class="text-center">Active Listings</h1>
        </div>
    </div>
    <form action="/" method="POST">
        <div class="row justify-content-center my-3">
            <div class='col-offset-4 col-6 pb-3'>
                <div class="row-4 input-group">
                    <input type="search" class="form-control" name="searchquery" placeholder="Search listings by make, model, year, or feature">
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="row row-cols-1 row-cols-md-2 g-4 px-3">
    {% for item in listings %}
        {% if item %}
        <div class="col">
            <div class="card">
            {% for photo in photos %}
                {% if photo['listingID'] == item['listingID'] %}
                    <img src="{{photo['photoPath']}}" class="card-img-top" alt="...">
                {% endif %}
            {% endfor %}
                <div class="card-body">
                    <h5 class="card-title">{{item['year']}} {{item['make']}} {{item['model']}}</h5>
                    <p class="card-text">Features:</p>
                    <ul>
                    {% for listings_features in listings_features %}
                        {% if item['listingID'] == listings_features['listingID']%}
                            {% for carFeature in features %}
                                {% if carFeature['featureID'] == listings_features['featureID'] %}
                                    <li>{{carFeature['carFeature']}}</li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <div class="card-footer">
                        {% if item['bidID'] %}
                            {% for bid in bids %}
                                {% if bid['bidID'] == item['bidID'] %}
                                    <span>Current Bid: ${{bid['bidAmt']}}</span>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <span>Current Bid: None</span>
                        {% endif %}
                        <span>| Ends: {{item['expirationDate']}} | Reserve: ${{item['reserve']}} | Mileage: {{item['mileage']}} mi</span>
                    </div> 
                    <form class="row mt-3 justify-content-end" action="/place-bid/{{item['listingID']}}" method="POST">
                        <div class="col-auto input-group w-75">
                            <input type="number" class="form-control" name="bid" id="bid" placeholder="ex. 25000">
                            <div class="input-group-append">
                                <input type="submit" class="btn btn-primary" value="Place Bid">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}