<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Gotham Auctions</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
      <div class="box-area">
          <header>
              <div class="wrapper">
                  <div class="logo">
                      <a href="/">Gotham Auctions</a>
                  </div>
                  <nav>
                      <a href="/">Auctions</a>
                      <a href="/post-listing">Post Listing</a>
                      <a href="/sign-up">Sign Up</a>
                      <a href="/profile">Profile</a>
                  </nav>
              </div>
          </header>
          <div class="banner-area">
              <h2>Available Listings</h2>
          </div>
          <div class="content-area">
              <div class="wrapper">
              
              </div>
          </div>
      </div>
  </body>
</html>