{% extends "base.html" %}
{% block content %}
<div class="container px-4 pt-5">
    <div class="row justify-content-center">
        <div class='col'>
            <h1 class="text-center">Active Listings</h1>
        </div>
    </div>
    <div class="row justify-content-end">
        <div class='col-4 mb-4'>
            <input type="search" class="form-control" name="searchquery" placeholder="Search listings by make, model, year">
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-2 g-4">
    {% for item in listings %}
        {% if item %}
        <div class="col">
            <div class="card">
            {% for photo in photos %}
                {% if photo['listingID'] == item['listingID'] %}
                    <img src="{{photo['photoPath']}}" class="card-img-top" alt="...">
                {% endif %}
            {% endfor %}
                <div class="card-body">
                    <h5 class="card-title">{{item['year']}} {{item['make']}} {{item['model']}}</h5>
                    <!-- maybe a separate query to get FeaturesListings? and then build the list of featues from there? -->
                    <!-- description will be added in the near future -->
                    <!-- <p class="card-text">Quick Description of the car.</p> --> 
                    <p class="card-text">Features:</p>
                    <ul>
                    {% for listings_features in listings_features %}
                        {% if item['listingID'] == listings_features['listingID']%}
                            {% for carFeature in features %}
                                {% if carFeature['featureID'] == listings_features['featureID'] %}
                                    <li>{{carFeature['carFeature']}}</li>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                    <!-- current bid info (high bid, expDate, reserve) -->
                    <div class="card-footer">
                        {% if item['bidID'] %}
                            {% for bid in bids %}
                                {% if bid['bidID'] == item['bidID'] %}
                                    <span>Current Bid: {{bid['bidAmt']}}</span>
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            <span>Current Bid: None</span>
                        {% endif %}
                        <span>| Ends: {{item['expirationDate']}} | Reserve: {{item['reserve']}}</span>
                    </div> 
                    <!-- user can place a bid -->
                    <form class="row justify-content-end mt-3" action="#">
                        <div class="col-auto">
                            <!-- maybe change placeholder value to highest bid? -->
                            <input type="number" class="form-control" name="place-bid" id="place-bid" placeholder="ex. 25000">
                        </div>
                        <div class="col-auto">
                            <input type="submit" class="btn btn-primary mb-3" value="Place Bid">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}