{% extends "base.html" %}
{% block title %}<title>Profile - Gotham Auctions</title>{% endblock %}
{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h1>My Account</h2>
        </div>
    </div>
    <div class="row">
        <div class="row mt-5">
            <div class="col">
                <h4 style="color: blue;">Profile Details</h4>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" value="{{user['firstName']}}" disabled>
        </div>
        <div class="col-4">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" value="{{user['lastName']}}" disabled>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{user['email']}}" disabled>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" id="username" name="username" value="{{user['userName']}}" disabled>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" value="{{user['password']}}" disabled>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <label for="datejoined" class="form-label">Date Joined</label>
            <input type="date" class="form-control" id="datejoined" name="datejoined" value="{{user['dateJoined']}}" disabled>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h4 style="color: blue;">Active Listings</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-10">
            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Vehicle</th>
                    <th scope="col">Current Bid</th>
                    <th scope="col">Reserve</th>
                    <th scope="col">Expires</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>1971 Ford Mustang</td>
                    <td>$60000</td>
                    <td>$40000</td>
                    <td>01-March-2021</td>
                    <td><button class="btn btn-primary" type="submit">Cancel</button></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>1984 Porsche 944</td>
                    <td>$60000</td>
                    <td>None</td>
                    <td>04-April-2021</td>
                    <td><button class="btn btn-primary" type="submit">Cancel</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h4 style="color: blue;">Bid History</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-10">
            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">Date Placed</th>
                    <th scope="col">Vehicle</th>
                    <th scope="col">Bid Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">01-January-2021</th>
                    <td>1972 Nissan Skyline</td>
                    <td>$26000</td>
                  </tr>
                  <tr>
                    <th scope="row">17-January-2021</th>
                    <td>1972 Nissan Skyline</td>
                    <td>$31000</td>
                  </tr>
                </tbody>
              </table> 
        </div>
    </div>
</div>
{% endblock %}