{% extends "base.html" %}
{% block title %}<title>Profile - Gotham Auctions</title>{% endblock %}
{% block content %}
<div class="container pt-5">
    <div class="row mt-2">
        <div class="col">
            <h2>{{g.user.firstName}}'s Info</h2>
        </div>
    </div>
    <div class="row">
        <div class="row mt-5">
            <div class="col">
                <h4 style="color: blue;">Profile Details</h4>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-4">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" value="{{g.user.firstName}}" disabled>
        </div>
        <div class="col-4">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" value="{{g.user.lastName}}" disabled>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" value="{{g.user.email}}" disabled>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <label for="username" class="form-label">User Name</label>
            <input type="text" class="form-control" id="username" name="username" value="{{g.user.userName}}" disabled>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" value="{{g.user.password}}" disabled>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-4">
            <label for="datejoined" class="form-label">Date Joined</label>
            <input type="date" class="form-control" id="datejoined" name="datejoined" value="{{g.user.dateJoined}}" disabled>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h4 style="color: blue;">Active Listings</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-10">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Vehicle</th>
                        <th scope="col">Current Bid</th>
                        <th scope="col">Reserve</th>
                        <th scope="col">Expires</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for listing in active_listings %}
                    <tr>
                        <th scope='row'>{{ loop.index }}</th>
                        {# create row of relevant info #}
                        <td>{{ listing.year }} {{ listing.make }} {{ listing.model }}</td>
                        <td>{{ listing.bidAmt }}</td>
                        <td>{{ listing.reserve }}</td>
                        <td>{{ listing.expirationDate }}</td>
                        {# hidden form for listing deletion #}
                        <td>
                            <form action="/profile" method="POST">
                                <input type='hidden' id='listingID' name='listingID' value='{{ listing.listingID }}'>
                                <button class="btn btn-primary" type="submit">Cancel</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <h4 style="color: blue;">Bid History</h4>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-10">
            <table class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th scope="col">Date Placed</th>
                    <th scope="col">Vehicle</th>
                    <th scope="col">Bid Amount</th>
                  </tr>
                </thead>
                <tbody>
                    {% for bid in bid_history %}
                    <tr>
                        <th scope='row'>{{ bid.bidDate }}</th>
                        <td>{{ bid.year }} {{ bid.make }} {{ bid.model }}</td>
                        <td>{{ bid.bidAmt }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table> 
        </div>
    </div>
</div>
{% endblock %}