{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row mt-4">
        <div class="col">
            <h2 class="text-center">Submit a Listing</h2>
        </div>
    </div>
    <form action="/submit-listing" method="POST" enctype="multipart/form-data">
        <div class="row mt-4">
            <div class="col-4">
                <label for="fname" class="form-label">First Name</label>
                <input type="text" class="form-control" id="fname" name="fname">
            </div>
            <div class="col-4">
                <label for="lname" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lname" name="lname">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4">
                <label for="year" class="form-label">Select your vehicle's year</label>
                <select class="form-select" aria-label="year" id="year" name="year">
                    <option selected>Select year</option>
                    <option value="2010">2010</option>
                    <option value="2011">2011</option>
                    <option value="2012">2012</option>
                    <option value="2013">2013</option>
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                </select>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="make" class="form-label">Select your vehicle's make</label>
                <select class="form-select" aria-label="make" id="make" name="make">
                    <option selected>Select make</option>
                    <option value="cheverolet">Cheverolet</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="ford">Ford</option>
                    <option value="volvo">Volvo</option>
                </select>
            </div>
            <div class="col-4">
                <label for="model" class="form-label">Enter your vehicle's model</label>
                <input type="text" class="form-control" id="model" name="model">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="mileage" class="form-label">Enter your vehicle's mileage</label>
                <input type="number" class="form-control" id="mileage" name="mileage">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4">
                <label for="feature" class="form-label">Select your vehicle's features</label>
                {% for feature in features %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="{{feature['carFeature']}}" id="features" name="features">
                    <label class="form-check-label" for="manual">{{feature['carFeature']}}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="usrfeature" class="form-label">Or, enter a feature below</label>
                <input type="text" class="form-control" id="usrfeature" name="usrfeature">
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4">
                <label for="reserve" class="form-label">Enter a reserve amount (optional)</label>
                <input type="number" class="form-control" id="reserve" name="reserve">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="expiration" class="form-label">Set an expiration date for your auction</label>
                <input type="date" class="form-control" id="expiration" name="expiration">
            </div>
        </div>
        <div class="row mt-2">
            <div class="col-4">
                <label for="photo" class="form-label">Include a photo of your vehicle</label>
                <input class="form-control" type="file" id="photo" name="photo" accept="image/*">
            </div>
        </div>
        <div class="row my-5">
            <div class="col-4">
                <button class="btn btn-primary" type="submit">Submit Listing</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}