{% extends 'base.html' %}
{% block content %}
<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
 
    <h5 class="card-title">1974 Ford Mustang</h5>   <!-- year make model of car goes here -->
    <!-- features go into the p -->
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <!-- user can place a bid -->
    <a href="#" class="btn btn-primary">Place Bid</a>
  </div>
</div>
{% endblock %}