{% extends 'base.html' %}
{% block title %}<title>Log In - Gotham Auctions</title>{% endblock %}
{% block content %}
  <div class='container pt-5'>
        <div class="row mt-2">
            <div class="col">
                <h2>Welcome Back to Gotham Auctions!</h2>
            </div>
        </div>
        <form method="POST">
            <div class='row mt-4'>
                <div class="col-4">
                    <label for='username' class="form-label">Username</label>
                    <input type='text' class="form-control" id='username' name='username' required>
                </div>
            </div>
            <div class='row mt-4'>
                <div class="col-4">
                    <label for='password' class="form-label">Password</label><br>
                    <input type='password' class="form-control" id='password' name='password' required>
                </div>
            </div>
            <div class='row my-4'>
                <div class="col-4">
                    <input type='submit' value='Log In' class="btn btn-danger">
                    <a class="btn btn-secondary" href="{{ url_for('auth.register') }}" role="button">First Time?</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}